<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실습문제1</title>
    <!-- Axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h2>실습문제1</h2>
    <form name="register">
      <label>
        이름
        <input type="text" name="name" />
      </label>

      <fieldset>
        <legend>성별</legend>
        <label>
          <input type="radio" name="gender" value="남자" />
          <span>남자</span>
        </label>
        <label>
          <input type="radio" name="gender" value="여자" />
          <span>여자</span>
        </label>
      </fieldset>
      <fieldset>
        <legend>생년월일</legend>
        <select name="year">
          <% for(let i=1980; i <=2010;i++){ %>
          <option value="<%=i%>"><%=i%></option>
          <% } %>
        </select>
        <span>년</span>
        <select name="month">
          <% for(let i=1; i <=12;i++){ %>
          <option value="<%=i%>"><%=i%></option>
          <% } %>
        </select>
        <span>월</span>
        <select name="date">
          <% for(let i=1; i <=31;i++){ %>
          <option value="<%=i%>"><%=i%></option>
          <% } %>
        </select>
        <span>일</span>
      </fieldset>

      <fieldset>
        <legend>관심사</legend>
        <label>
          <input type="checkbox" name="favorite" value="여행" />
          <span>여행</span>
        </label>
        <label>
          <input type="checkbox" name="favorite" value="패션" />
          <span>패션</span>
        </label>
        <label>
          <input type="checkbox" name="favorite" value="음식" />
          <span>음식</span>
        </label>
      </fieldset>
      <button type="button" onclick="submitInfo()">제출</button>
    </form>
    <div class="register-result"></div>
    <script>
      const form = document.forms['register'];
      const registerResult = document.querySelector('.register-result');

      function submitInfo() {
        // console.log("click");
        // GET /axios-practice1
        console.log('----checkbox-----');
        console.log(form.favorite);
        console.log(form.favorite.value); // 항상 빈값
        console.log('----radio-----');
        console.log(form.gender);
        console.log(form.gender.value);

        const favValue = [];
        //(todo) for...of로 풀어보기
        form.favorite.forEach((input) => {
          if (input.checked) favValue.push(input.value);
        });
        console.log('favValue ----');
        console.log(favValue);
        const data = {
          name: form.name.value,
          gender: form.gender.value,
          favorite: favValue,
        };
        axios({
          method: 'get',
          url: '/axios-practice1',
          params: data,
        }).then((response) => {
          console.log(response.data);
          const { name, favorite } = response.data;
          //~~님 환영합니다! 가입이 완료되었습니다! 취미는 ~~
          registerResult.textContent = `${name}님 환영합니다.
          가입이 완료되었습니다.
          취미는 ${favorite}`;
        });
      }
    </script>
  </body>
</html>
