<!DOCTYPE html>
<html lang="ko">
  <%- include('include/include', { title: '회원 정보' })%>
  <body>
    <h1>회원 정보</h1>
    <!-- TODO: href 속성값 설정하기 -->
    <a href="/user">HOME</a>
    <p>ID 수정 불가능, Password, Name 수정 가능</p>

    <!-- TODO: 각 input의 value 값을 로그인 한 사람의 정보로 채우기 -->
    <!-- { data: result[0] }
      data: { id: 21, userid: 'marsh', name: '마쉬멜로우', pw: '1125' }
    -->
    <% console.log('ejs정보:', data) %>

    <form name="form_profile">
      <label for="userid">ID</label>
      <!-- (!)hidden도 value써야 함 -->
      <input type="hidden" id="id" value="<%=data.id%>" />
      <!-- readonly: userid는 수정 불가능 (조건임) -->
      <input
        id="userid"
        type="text"
        name="userid"
        value="<%=data.userid%>"
        readonly
      /><br />
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        name="pw"
        value="<%=data.pw%>"
        required
      /><br />
      <label for="name">Name</label>
      <input
        id="name"
        type="text"
        name="name"
        value="<%=data.name %>"
        required
      /><br />
      <button type="button" onclick="profileEdit();">Edit</button>
      <button type="button" onclick="profileDelete();">Delete</button>
    </form>

    <script>
      // TODO: [Edit] 버튼 클릭시 서버에 회원 정보 수정 요청하기
      // POST /user/profile/edit
      function profileEdit() {
        const { id, pw, name } = document.forms['form_profile'];
        axios({
          method: 'patch',
          url: '/user/profile/edit',
          data: {
            id: id.value, //where 조건 사용을 위해서
            name: name.value,
            pw: pw.value,
          },
        }).then((res) => {
          //no data, controller에서 res.send()로 데이터 주지 않음
          console.log('editProfile res.data', res.data);
          alert('수정 성공');
        });
      }

      // TODO: [Delete] 버튼 클릭시 서버에 회원 정보 삭제 요청하기
      // POST /user/profile/delete
      function profileDelete() {
        const { id } = document.forms['form_profile'];
        axios({
          method: 'delete',
          url: '/user/profile/delete',
          data: {
            id: id.value, //delete할 data를 찾기 위해(where조건)
          },
        }).then((res) => {
          console.log('deleteProfile res.data', res.data);
          alert('삭제 성공');
        });
      }
    </script>
  </body>
</html>
