<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지</title>
    <link rel="stylesheet" href="../static/myPage.css" />
  </head>
  <body>
    <div class="card">
      <h1><span><%= name %></span>님 마이페이지</h1>
      <div class="profile"><img src="<%=src%>" alt=기본 이미지"></div>
      <p>
        <span>아이디</span>
        <span><%=id%></span>
      </p>
      <p>
        <span>비밀번호</span>
        <span><%=pw%></span>
      </p>
      <p>
        <span>이름</span>
        <span><%=name%></span>
      </p>
      <p>
        <span>나이</span>
        <span><%=age%></span>
      </p>
    </div>
  </body>
</html>
