<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>결과 페이지</title>
    <style>
      span {
        color: coral;
        font-weight: 700;
      }
      div {
        border: solid 1px lightgray;
        border-radius: 10px;
        box-shadow: 0 0 5px 0px lightgray;
        padding: 10px;
        margin: 5px;
      }
    </style>
  </head>
  <body>
    <h2><%=title %> 결과 확인하기</h2>
    <h3><span><%=userInfo.name %></span>님 환영합니다!</h3>
    <!-- (todo) 코드 정리 : ul, li태그로 정리하기 -->
    <div>성별: <%=userInfo.gender %></div>
    <!-- (todo) year, month, date 인댁스말고 이름으로 받아오기 -->
    <div>
      생년월일: <%=userInfo.birth[0]%>/ <%=userInfo.birth[1]%>/
      <%=userInfo.birth[2]%>
    </div>
    <div>관심사: <%=userInfo.interest %></div>
    <hr />

    <!-- (!) addInfo -->

    <% if(addInfo){ %>
    <h3>다른 태그 작성해보기</h3>
    <p>
      좋아하는 색깔:
      <span class="color" style="color: <%=userInfo.favoriteColor %>"
        ><%=userInfo.favoriteColor %></span
      >
    </p>
    <p>
      행복 지수:
      <span><%=userInfo.happiness %>점</span>/100점
    </p>
    <%} %>
    <a href="/">홈으로 이동하기</a>

    <!-- (!) 좋아하는 색깔 색상 변경 css 인라인이 아니라 js로 해보기 -->
    <!-- - js 안에서도 ejs 문법 가능 -->
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const colorSpan = document.querySelector('.colr');
        colorSpan.style.color = '<%=userInfo.color%>';
      });
    </script>
  </body>
</html>
